{% extends 'premium/base.html' %}

{% block title %}
Shopping_bezarre
{% endblock %}

{% block content %}

<h1 class="mb-3">Bezarre_kz</h1>

<div class="album py-5 bg-light">
    <div class="container">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
          <div class="card shadow-sm">
            <img src="https://wwws.dior.com/couture/ecommerce/media/catalog/product/cache/1/cover_image_mobile_1/715x773/17f82f742ffe127f42dca9de82fb58b1/9/X/1586461506_841M55A3332_X1700_E01_GHC.jpg?imwidth=800" idth="100%" height="260" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em"></text></img>


            <div class="card-body">
              <p class="card-text">Тренч</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">В корзину</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Купить</button>
                </div>
                <small class="text-muted">New collection</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="https://static.oskelly.ru/img/product/109052/tiny-1ff134b4-868e-409a-bf15-2e6d78a9c07b" width="278" height="260" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="200" height="200" fill="#55595c"></rect><text x=100%" y="100%" fill="#eceeef" dy=".3em"></text></svg>

            <div class="card-body">
              <p class="card-text">Платья</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">В корзину</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Купить</button>
                </div>
                <small class="text-muted">New collection</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="https://a.lmcdn.ru/img236x341/I/X/IX001XW00O5H_11862050_1_v2.jpeg" width="278.01.01" height="260" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em"></text></svg>

            <div class="card-body">
              <p class="card-text">Батинки</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">В корзину</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Купить</button>
                </div>
                <small class="text-muted">New collection</small>
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
            <img src="https://static.oskelly.ru/img/product/127411/tiny-a6eeeba6-54f8-4ef4-ac79-7c07ec332925" width="278" height="260" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em"></text></svg>

            <div class="card-body">
              <p class="card-text">Брюки</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">В корзину</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Купить</button>
                </div>
                <small class="text-muted">New collection</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="https://topwearstore.ru/image/cache/catalog/max-mara/women-coat/teddy-bear/max-mara-teddy-bear-1000x1340.jpg" width="278" height="260" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em"></text></svg>

            <div class="card-body">
              <p class="card-text">Шубка-тедди </p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">В корзину</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Купить</button>
                </div>
                <small class="text-muted">New collection</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="https://static.oskelly.ru/img/product/124163/item-351b49c3-d9c9-4a10-846e-124525d48641" width="278" height="260" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em"></text></svg>

            <div class="card-body">
              <p class="card-text">Пальто</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">В корзину</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Купить</button>
                </div>
                <small class="text-muted">New collection</small>
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="260" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Пока фоток нет :)</text></svg>

            <div class="card-body">
              <p class="card-text">Юбка</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">В корзину</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Купить</button>
                </div>
                <small class="text-muted">New collection</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="260" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Пока фоток нет :)</text></svg>

            <div class="card-body">
              <p class="card-text">Куртки</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">В корзину</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Купить</button>
                </div>
                <small class="text-muted">New collection</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="260" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Пока фоток нет :)</text></svg>

            <div class="card-body">
              <p class="card-text">Свитера</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">В корзину</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Купить</button>
                </div>
                <small class="text-muted">New collection</small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
